{% extends 'layouts/page.njk' %}

{% block head %}
  {{ super() }}
  {% for href in getAssetCss('src/client/javascripts/esri-map.js') %}
    <link href="{{ href }}" rel="stylesheet">
  {% endfor %}
{% endblock %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "apha-incubator-frontend-poc"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <div id="esri-map"></div>
        <script type="application/json" id="high-path-geojson">{{ highPathGeoJson | toJsonScript | safe }}</script>
        <script type="application/json" id="low-path-geojson">{{ lowPathGeoJson | toJsonScript | safe }}</script>
        <script type="application/json" id="unknown-geojson">{{ unknownGeoJson | toJsonScript | safe }}</script>
        <p>
          <a class="govuk-link" href="/" data-testid="home-link">Home</a>
        </p>
      </div>
    </div>
  </div>

{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="{{ getAssetPath('src/client/javascripts/esri-map.js') }}"></script>
{% endblock %}
